.imageWrapper {
  position: relative;
  aspect-ratio: 2/3;
  overflow: hidden;
  border-radius: 12px;
}

.imageWrapper::after {
  content: "";
  position: absolute;
  inset: 0;
  background: linear-gradient(180deg, rgba(6, 9, 15, 0) 0%, #06090F 100%);
  pointer-events: none;
}

.episodeTag {
  position: absolute;
  text-align: center;
  padding-bottom: 40px;
  font-family: var(--font-inter);
  font-weight: 500;
  font-size: 0.9rem;
  bottom: 0;
  left: 0;
  right: 0;
  color: #ffffff;
}