@config "../../tailwind.config.ts";
@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

* {
  box-sizing: border-box;
}

html {
  overflow-x: hidden;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-sans);
  --font-mono: var(--font-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  width: 100%;
  min-height: 100vh;
  background: var(--background);
  color: var(--foreground);
  margin: 0;
  overflow-x: hidden;
}

/* 1. Remove as setas de TODOS os elementos que tenham scroll */
::-webkit-scrollbar-button {
  display: none !important;
  width: 0 !important;
  height: 0 !important;
}

/* 2. Define o tamanho da barra (sem as setas) */
::-webkit-scrollbar {
  width: 6px; /* Vertical */
  height: 4px; /* Horizontal - O seu caso no Alfabeto */
}

/* 3. Estiliza a 'peça' que move (o thumb) */
::-webkit-scrollbar-thumb {
  background-color: #00a3ff !important; /* slate-700 */
  border-radius: 50px !important;

  min-width: 219px !important;
}

/* 4. Deixa o fundo invisível */
::-webkit-scrollbar-track {
  background: transparent !important;
}
