.header {
  display: flex;
  align-items: center;
  justify-content: space-between;

  height: 128px;
  margin: 0 22rem;
}

.headerTitle {
  font-size: 40px;
  color: #00a3ff;
}

.headerNav {
  display: flex;
  align-items: center;
}

.headerMenu {
  display: flex;
  gap: 50px;
}

.headerSearch {
  height: 30px;
  margin-left: 72px;
  background-color: #151b26;
  border-radius: 37px;
}

.headerSearch::placeholder {
  color: #ffffff;
  font-size: 18px;
  padding-left: 24px;
}