.footer {
  display: flex;
  justify-content: center;
  align-items: center;
}

.footerContent {
  font-family: var(--font-inter);
  font-weight: 400;
  font-size: 14px;
  margin-top: 64px;
  padding: 24px 0;
  color: #bfbfbf;
}
